/* Maps for responsive device */

$break: (
    minimobile: 321px,
    mobile: 600px,
    littletablette: 850px,
    tablette: 992px,
    littledesktop: 1330px,
    desktop: 1700px,
    bigdesktop: 2000px
);