/* Style for home page */

.banner {
    margin: 63px 100px 0px 100px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../../public/assets/homeimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    @include tablette {
        margin: 20px 50px 0px 50px;
    }
    @include mobile {
        width: 385px;
        margin: 16px auto 0px auto;
        border-radius: 10px;
    }
    @include bigmobile {
        width: 335px;
    }
    @include minimobile {
        width: 275px;
    }

    &__h1 {
        margin: 0;
        position: relative;
        z-index: 1;
        padding: 78px 0px;
        text-align: center;
        color: $color-white;
        font-size: 48px;
        font-weight: 500;
        @include mobile {
            width: 217px;
            margin: 0px;
            text-align: unset;
            padding: 31px 0px 32px 16px;
            font-size: 24px;
        }
    }
}