/* import police on google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
/* Variable for color and animation duration */ /* Maps for responsive device */
/* Maps for responsive device */
/* Mixins for responsive device */
/* like animation */ /* Maps for responsive device */
/* Mixins for responsive device */
/* import police on google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
/* Maps for responsive device */
/* Mixins for responsive device */
/* Base tag */
body {
  margin: 0px;
  font-family: "Montserrat";
}

/* Maps for responsive device */
/* Mixins for responsive device */
/* Variable for color and animation duration */
/* Header tag */
.header {
  margin: 50px 100px 0px 100px;
  display: flex;
}
@media screen and (max-width: 992px) {
  .header {
    margin: 30px 50px 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    margin: 20px 20px 0px 20px;
  }
}
.header__figure {
  flex: 2;
  margin: 0px;
}
@media screen and (min-width: 1700px) {
  .header__figure {
    flex: 3;
  }
}
@media screen and (max-width: 992px) {
  .header__figure {
    flex: unset;
  }
}
.header__img {
  display: flex;
  align-self: center;
}
@media screen and (max-width: 600px) {
  .header__img {
    width: 145px;
    height: 47px;
  }
}
@media screen and (max-width: 321px) {
  .header__img {
    width: 120px;
    height: 40px;
  }
}
.header__nav {
  width: 100%;
  flex: 1;
  align-self: center;
}
@media screen and (max-width: 992px) {
  .header__nav {
    flex: unset;
  }
}
.header__ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-inline-start: 20px;
}
@media screen and (max-width: 992px) {
  .header__ul {
    justify-content: flex-end;
  }
}
.header__li {
  list-style-type: none;
}
@media screen and (max-width: 992px) {
  .header__li--padding {
    padding-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  .header__li--padding {
    padding-left: 10px;
  }
}
.header__a {
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .header__a {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .header__a {
    font-size: 12px;
  }
}

.active {
  border-bottom: 2px solid #FF6060;
}

/* Maps for responsive device */
/* Mixins for responsive device */ /* Footer tag */
.footer {
  background-color: black;
}
.footer__img {
  padding-top: 66px;
  width: 122px;
}
@media screen and (max-width: 992px) {
  .footer__img {
    padding-top: 57px;
  }
}
@media screen and (max-width: 600px) {
  .footer__img {
    padding-top: 60px;
  }
}
.footer__p {
  text-align: center;
  margin: 0px;
}
.footer__p--font {
  font-family: "Montserrat";
  font-size: 24px;
  color: white;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 29px;
}
@media screen and (max-width: 992px) {
  .footer__p--font {
    font-size: 18px;
    padding-top: 26px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .footer__p--font {
    padding-top: 22px;
    padding-bottom: 60px;
    font-size: 12px;
  }
}

/* Maps for responsive device */
/* Mixins for responsive device */ /* Fetchall conponent */
.housings {
  margin: 43px 100px 100px 100px;
  background-color: #F6F6F6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 50px;
  padding: 56px 30px 50px 30px;
}
@media screen and (min-width: 2000px) {
  .housings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1330px) {
  .housings {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  .housings {
    margin: 30px 50px 50px 50px;
  }
}
@media screen and (max-width: 850px) {
  .housings {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .housings {
    row-gap: 20px;
    background-color: unset;
    margin: 22px 20px 50px 20px;
    padding: 0px;
  }
}
.housings__img {
  object-fit: cover;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  .housings__img {
    width: 335px;
    height: 255px;
  }
}
@media screen and (max-width: 321px) {
  .housings__img {
    width: 275px;
    height: 235px;
  }
}
.housings__span {
  position: absolute;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  margin-left: -320px;
  max-width: 300px;
  margin-top: 280px;
}
@media screen and (max-width: 992px) {
  .housings__span {
    max-width: 295px;
    margin-top: 195px;
  }
}
@media screen and (max-width: 321px) {
  .housings__span {
    max-width: 245px;
    margin-top: 175px;
    margin-left: -260px;
  }
}

/* Maps for responsive device */
/* Mixins for responsive device */ /* Fetchone conponent */
.housing {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0px 100px;
}
@media screen and (max-width: 992px) {
  .housing {
    margin: 30px 50px 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  .housing {
    margin: 20px 20px 0px 20px;
    display: block;
  }
}
.housing__h1 {
  color: #FF6060;
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 992px) {
  .housing__h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .housing__h1 {
    font-size: 18px;
  }
}
.housing__p {
  color: #FF6060;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
@media screen and (max-width: 992px) {
  .housing__p {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .housing__p {
    font-size: 14px;
    padding-top: 5px;
    margin: 0px 0px 10px 0px;
  }
}
.housing__ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 250px;
}
.housing__li {
  list-style-type: none;
  background-color: #FF6060;
  color: white;
  width: 115px;
  padding: 3px 0px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}
.housing__h2 {
  color: #FF6060;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  width: 90px;
}
.housing__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  align-self: center;
}
.housing__div--flex {
  display: flex;
}

/* Maps for responsive device */
/* Mixins for responsive device */
/* Variable for color and animation duration */
/* Collapse conponent */
.collapse-location {
  display: flex;
  margin: 43px 100px 50px 100px;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .collapse-location {
    display: block;
    margin: 30px 50px 40px 50px;
  }
}
@media screen and (max-width: 600px) {
  .collapse-location {
    display: block;
    margin: 43px 20px 30px 20px;
  }
}
.collapse-location__h1 {
  background-color: #FF6060;
  border-radius: 10px;
  padding: 20px 0px 20px 13px;
  color: white;
  margin: 0px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .collapse-location__h1 {
    font-size: 15px;
    padding: 13px 0px 13px 13px;
  }
}
@media screen and (max-width: 600px) {
  .collapse-location__h1 {
    font-size: 13px;
    padding: 9px 0px 9px 13px;
  }
}
.collapse-location__p {
  background-color: #F6F6F6;
  padding: 50px 12px 0px 20px;
  margin: 0px;
  height: 250px;
  margin-top: -30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
}
@media screen and (max-width: 992px) {
  .collapse-location__p {
    font-size: 14px;
    height: 170px;
    padding: 40px 11px 0px 11px;
  }
}
@media screen and (max-width: 600px) {
  .collapse-location__p {
    font-size: 12px;
    height: 140px;
    padding: 40px 11px 0px 11px;
  }
}
.collapse-location__div {
  width: 582px;
}
@media screen and (max-width: 1330px) {
  .collapse-location__div {
    width: 390px;
  }
}
@media screen and (max-width: 992px) {
  .collapse-location__div {
    width: unset;
  }
}
.collapse-location__img {
  position: relative;
  top: -40px;
  left: 530px;
}
@media screen and (max-width: 1330px) {
  .collapse-location__img {
    left: 350px;
  }
}
@media screen and (max-width: 992px) {
  .collapse-location__img {
    left: unset;
    right: 0;
    top: -31px;
    margin: 0px 20px;
    float: right;
  }
}
@media screen and (max-width: 600px) {
  .collapse-location__img {
    width: 20px;
    height: 15px;
    top: -25px;
  }
}
@media screen and (max-width: 992px) {
  .collapse-location__div:last-child h1 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .collapse-location__div:last-child h1 {
    margin-top: 20px;
  }
}

/* Variable for color and animation duration */
/* Style for home page */
.banner {
  margin: 70px 100px 0px 100px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../public/homeimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}
@media screen and (max-width: 992px) {
  .banner {
    margin: 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    width: 335px;
    border-radius: 10px;
    margin: 20px auto 0px auto;
  }
}
@media screen and (max-width: 321px) {
  .banner {
    width: 275px;
  }
}
.banner__h1 {
  position: relative;
  z-index: 1;
  padding: 78px 0px;
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 48px;
}
@media screen and (max-width: 600px) {
  .banner__h1 {
    width: 217px;
    margin: 0px;
    text-align: unset;
    padding: 31px 0px 32px 16px;
    font-size: 24px;
  }
}

/* Variable for color and animation duration */
/* Style for menu page */

/*# sourceMappingURL=style.css.map */
