/* Fetchabout conponent */

.collapse-about {
    margin: 43px 200px 100px 200px;
    @include tablette {
        margin: 43px 50px 100px 50px;
    }
    @include mobile {
        margin: 22px 20px 50px 20px;
    }
}

.collapse-about div {
    width: 100%;
    
}
.collapse-about h1 {
    font-size: 24px;
    font-weight: 500;
    padding: 16px 0px 16px 18px;
    margin-top: 30px;
    @include mobile {
        font-size: 13px;
        padding: 6px 0px 6px 11px;
    }
}

.collapse-about div:last-child h1 {
    margin-top: 30px;
}

.collapse-about img {
    left: unset;
    float: right;
    position: relative;
    top: -40px;
    right: 0;
    margin-right: 30px;
    @include mobile {
        top: -22px;
        margin-right: 10px;
    }
}
.collapse-about div div {
    padding: 27px 0px 20px 0px;
    height: unset;
    @include mobile {
        padding: 27px 0px 20px 0px;
    }
}
.collapse-about div div p {
    font-size: 24px;
    font-weight: 500;
    padding: 0px 18px 0px 26px;
    @include mobile {
        font-size: 12px;
        padding: 0px 6px 0px 11px;
    }
}
