/* Header conponent */

.header {
    margin: 50px 100px 0px 100px;
    @include tablette {
        margin: 30px 50px 0px 50px;
    }
    @include mobile {
        margin: 20px 20px 0px 20px;
    }
    display: flex;
    &__figure {
        flex: 3;
        margin: 0px;
        @include littledesktop {
            flex: 2;
        }
        @include tablette {
            flex: unset;
        }
    }
    &__img {
        margin: 0px;
        background-image: url('../../public/assets/LOGO.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 210px;
        height: 68px;
        @include mobile {
            width: 145px;
            height: 47px;
        }
        @include minimobile {
            width: 120px;
            height: 40px;
        }
    }
    &__nav {
        width: 100%;
        flex: 1;
        align-self: center;
        @include tablette {
            flex: unset;
        }
    }
    &__ul {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding-inline-start: 20px;
        @include tablette {
            justify-content: flex-end;
        }
    }
    &__li {
        list-style-type: none;
        &--padding {
            @include tablette {
                padding-left: 50px;
            }
            @include mobile {
                padding-left: 10px;
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__a {
        text-decoration: none;
        color: $color-primaire;
        font-size: 24px;
        font-weight: 500;
        @include tablette {
            font-size: 18px;
        }
        @include mobile {
            font-size: 12px;
        }
    }
    
}

.active {
    border-bottom: 2px solid $color-primaire;
    @include mobile {
        border-bottom: 1px solid $color-primaire;
    }
}